body {
  color: rgb(243, 236, 39);
  background: #050404;
  margin: 0px;
  font-family: "Chakra Petch", sans-serif;
}

header {
  border-bottom: solid 10px rgb(220, 206, 206);
  padding: 20px;
  font-size: 32px;
  color: rgb(69, 139, 214);
}

.chamada {
  background: rgba(0, 0, 0, 0.568);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto{
  margin-right: 20px;
}

h1{
  font-size: 40px;
}

p{
  font-size: 20px;
}
 
img {
  height: 200px;
}
.categoria-videos {
 display:flex;
  overflow-x: auto;
   gap: 10px;
}
.categoria-videos img{
  opacity: 0.5;
  height: 200px;
}


.categoria-videos img:hover{ 

   opacity: 1.0;
  border: 10px solid #e6d820;
}
 .categoria h2 {
   color: rgb(29, 29, 170);
 }